* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}
h2 {
    color: white;
    font-size: 24px;
    text-align: left;
}

p {
    color: white;
    font-size: 12px;
    text-align: left;
}



main {
height: 100vh;
display:flex;
flex-wrap: wrap;
align-items: center;
justify-content:center;
gap: 50px;


}

img {
    width: 400px;
    height: 300px;

}

/*main section:nth-child(even) {

}

