header {
    width: 100%;
    background-color: rgb(235, 193, 5);
    position: fixed;
    z-index: 100;
}
header img {
    width: 90px;
    top: 100px;
}


a {
    color: blue;
    font-size: 25px;
    margin: 10PX;
}
div img {
    width:  100px;
    position: fixed;
    left: 100%;
    
}
.banner {
    width: 100%;
    border-radius: 10px;
    top: 20px;
}
.card1 {
    margin: 20px;
    background-color:red;
    position: absolute;
    top: 100px;
    left: 10;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.199);

}
.card2 {
    margin: 20px;
    background-color: red;
    position: absolute;
    top: 100px;
    left: 500px;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.199);
}
.card3 {
    margin: 20px;
    background-color: red;
    position: absolute;
    top: 100px;
    left: 1000px;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.199);
}
.card4 {
    margin: 20px;
    background-color: red;
    position: absolute;
    top: 600px;
    left: 10px;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.199);
}
.card5 {
    margin: 20px;
    background-color: red;
    position: absolute;
    top: 600px;
    left: 500px;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.199);
}
.card6 {
    margin: 20px;
    background-color: red;
    position: absolute;
    top: 600px;
    left: 1000px;
    border-radius: 10px;
    width: 200px;
    height: 400px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.199);
}
 footer img {
    position: fixed;
    right: 0;
    bottom: 0;
    
}
.main-button {
    color: white;
    padding: 12px 24px;
    background-color:green ;
    border:1px yellow;
    border-radius: 12px;
    position: relative;
    top: 60%;
    left: 22%;
}